*{
    padding: 0%;
    margin: 0%;
}

body{
    color-scheme: dark;
    background-color: black;
    /* display: grid; */
    /* grid-template-columns: minmax(180px, 25%) auto; */
    /* max-width: 100vh;
    max-height: 100vh; */
    
}



.left {
    float: left;
    display: grid;
      
}

/* #right {
    position: relative;
    flex-grow: 1;
    min-height: 0;
    height: 100%;
    width: 100%;
    

}   */