*{
    padding: 0%;
    margin: 0%;
}

body{
    color-scheme: dark;
    background-color: black;
    max-width: 100vh;
    max-height: 100vh;
    
}



.parent {
    display: grid;
    grid-template-columns: minmax(180px, 25%) auto;
    /* height: 100vh;
    width: 100vh; */
      
}

/* #right {
    /* position: relative;
    flex-grow: 1;
    min-height: 0; */
    /* height: 100%; */
    /* width: 100%; */
    

/* }  */ */



